<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Welcome to the Nested Forms Lab!</h1>
    <form method="get" action="/new">
      <label for="phrase">let's navigate to the '/new'</label>
      <input type="text" id="phrase" name='pirate[name]'>
      <input type="submit">
    </form>
  </body>
</html>


